  <div class="image"></div>​
  <div class="container-fluid">
    <div class="backing">
      <div class="col-md-3"></div>
      <div class="col-md-6 profile">
        <table border="1" class="show-table">
            <p id="notice"><%= notice %></p>
            <%= form_for @bar do |f| %>
          <tr>
            <td class="key"><strong class="titles">Name: </strong></td>
            <td class="backing"><%= f.text_field :name, class: "form-color" %></td>
          </tr>
          <tr>
            <td><strong class="titles">Street: </strong></td>
            <td class="backing"><%= f.text_field :full_address, class: "form-color" %></td>
          </tr>
          <tr>
            <td class="bluebuttons"><strong class="titles"><span class="selects">Day: </strong></span></td>
            <td class="backing" class="bluebuttons"><%= f.select :day, [['Monday'],['Tuesday'],['Wednesday'],['Thursday'],['Friday'],['Saturday'],['Sunday']], class: "form-color" %></td>
          </tr>
          <tr>
            <td><strong class="titles">Time: </strong></td>
            <td class="backing"><%= f.text_field :time, class: "form-color" %></td>
          </tr>
          <tr>
            <td><strong class="titles"><span class="selects">Theme: </strong></span></td>
            <td class="backing" class="bluebuttons"><%= f.select :theme, [['general'],['entertainment'],['sports']]%></td>
          <tr>
            <td><strong class="titles">Web: </strong></td>
            <td class="backing"><%= f.text_field :web, class: "form-color" %></td>
          </tr>
          <tr>
            <td><%= f.submit 'Add', class: "button" %></td>
            <td class="backing"></td>
          </tr>
            
          <% end %>
        </table>

      <div class="col-md-3"></div>
    </div>
  </div>
