  <div class="image"></div>​
  <div class="container-fluid">
    <div class="backing">
      <div class="col-md-3"></div>
      <div class="col-md-6 profile">
        <table border="1" class="show-table">
            <p id="notice"><%= notice %></p>
            <%= form_for @bar do |f| %>
          <tr>
            <td><strong class="titles">Name: <%= f.text_field :name, class: "form-color" %></td>
            <td class="backing" class="wide-row">Street: <%= f.text_field :street, class: "form-color" %></td>
          </tr>
          <tr>
            <td><strong class="titles">City:<%= f.text_field :city, class: "form-color" %> </strong></td>
            <td class="backing">Zip:<%= f.text_field :zip, class: "form-color" %></td>
          </tr>
          <tr>
            <td class="bluebuttons" class="titles"><span class="selects">Day:</span><%= f.select :day, [['Monday'],['Tuesday'],['Wednesday'],['Thursday'],['Friday'],['Saturday'],['Sunday']], class: "form-color" %></td>
            <td class="backing">Time:<%= f.text_field :time, class: "form-color" %></td>
          </tr>
          <tr>
            <td class="bluebuttons" class="titles"><span class="selects">Theme:</span><%= f.select :theme, [['general'],['entertainment'],['sports']] %></td>
            <td class="backing">Web:<%= f.text_field :web, class: "form-color" %></td>
          </tr>
          <tr>
            <td><strong class="titles">Latitude:<%= f.text_field :lat, class: "form-color" %></strong></td>
            <td class="backing">Longitude:<%= f.text_field :lon, class: "form-color" %></td>
          </tr>
          <tr>
            <td><%= f.submit 'Add', :class => "button" %></td>
          </tr>
            
          <% end %>
        </table>

      <div class="col-md-3"></div>
    </div>
  </div>
