<div class='backing' class='backing2' class="rows">
<%= form_for @bar do |f| %>
<tr>
	<th>Bar Name: <%= f.text_field :name, class: "form-color" %></th>
	<br />
	<th>Street: <%= f.text_field :street %></th>
	<br />
	<th>City:<%= f.text_field :city %></th>
	<br />
	<th>Zip:<%= f.number_field :zip %></th>
	<br />
	<th>Day:<%= f.select :day, [['Monday'],['Tuesday'],['Wednesday'],['Thursday'],['Friday'],['Saturday'],['Sunday']]%></th>
	<th>Time:<%= f.text_field :time %></th>
	<th>Theme:<%= f.select :theme, [['general'],['entertainment'],['sports']] %></th>
	<th>Web:<%= f.text_field :web %></th>
	<th>Latitude:<%= f.text_field :lat %></th>
	<th>Longitude:<%= f.text_field :lon %></th>
</tr>


	<%= f.submit 'Add' %>
<% end %>
</div>


