<body>
  <div class="container-fluid">
    <div class="backing">
      <div class="col-md-3"></div>
      <div class="col-md-6 profile">
      <p id="notice"><%= notice %></p>

      <p class="backing">
        <strong>Name:</strong>
        <%= results[@showbarnum].name %>
      </p>

      <p class="backing">
        <strong>Address: </strong>
        <%= location[0] %>, <%= location[2] %>
      </p>

      <p class="backing">
        <strong>Phone:</strong>
        <% string = results[0].phone %>
        <%= string.insert(3,'-').insert(7,'-') %>
      </p>

      <p class="backing">
        <strong>Day:</strong>
        <%= @bar.day %>
      </p>

      <p class="backing">
        <strong>Time:</strong>
        <%= @bar.time %>
      </p>

      <p class="backing">
        <strong>Theme:</strong>
        <%= @bar.theme %>
      </p>

      <p class="backing">
        <strong>Website:</strong>
        <a href="<%= results[0].url %>"><%= results[0].url %></a>
      </p>

      <p class="backing">
      <%= link_to 'Edit', edit_bar_path(@bar) %> |
      <%= link_to 'Back', bars_path %>
      </p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</body>
