<div class="backing">
	<h1>New User</h1>

	<%= form_for @user do |f| %>
	  Name: <%= f.text_field :name, :id => "form-font" %>
	  Email: <%= f.text_field :email, :id => "form-font" %>
	  Password: <%= f.password_field :password, :id => "form-font" %>
	  <%= f.submit "Log me in", :class => "button" %>
	<% end %>
</div>