<h1>Sign Up</h1>
<div class="image"></div>​
  <div class="container-fluid">
    <div class="backing">
      <div class="col-md-3"></div>
      <div class="col-md-6 profile">
        <table border="1" class="show-table">

			<%= form_for @user do |f| %>
			<tr>
				<td class="titles-session">Name: </td>
				<td class="links" class="rows"><%= f.text_field :name, :id => "form-font" %></td>
			</tr>
			<tr>
				<td class="titles-session">Email: </td>
				<td><%= f.text_field :email, :id => "form-font" %></td>
			</tr>
			<tr>
				<td class="titles-session">Password:  </td>
				<td><%= f.password_field :password, :id => "form-font" %></td>
			</tr>
			<tr>
				<td class="links" class="rows"><%= f.submit "Sign Me Up", :class => "button-show" %></td>
				<td class="links" class="rows"></td>
			<% end %>
		</table>

      <div class="col-md-3"></div>
    </div>
  </div>
